body{
    margin:0;
    padding:0;
    text-shadow: 0 34px 76px rgba(77, 55, 133, 0.3);
}
.header {
    top: 0px;
    display: flex;
    flex-direction: row;
    min-height: 500px;
}
.header_box1_logo {
    float: right;
    height: 30%;
    width: 100%;
}
.navigation_list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: fit-content;
    /* width: 80%;
    height: 20%; */


}
.header_box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
}
.header_box1 h2 {
    font-size: 20px;

}

/* nav li {
    display: inline-block;
} */
nav a{
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid blueviolet;
    background-color: white;
    text-decoration: none;
    border-radius: 0.5em;
    /* margin: 0px;
    padding: 0px; */

}
.main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.main_section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;


}

.image_button, .main_aside_button {
    width: 80%;
    background-color: aqua;
    border: 1px solid blanchedalmond;
    text-align: center;
    margin: auto;
}
.main_aside {
    width: 25%;
    margin-top: 200px;
    text-align: left;
    box-shadow: 0 34px 76px rgba(77, 55, 133, 0.3);
    height: fit-content;
    padding: 15px;
}
.main_section2_video, .main_section1_video {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px 30px;
    max-width: 100%;
    flex-wrap: wrap;
}
.main_section2_video_first, .main_section2_video_second, .main_section2_video_third,
.main_section1_video_first, .main_section1_video_second {
       margin: auto;

       box-shadow: 0 34px 76px rgba(77, 55, 133, 0.3);

}
.main_section2_video video, .main_section1_video video {
    width: 100%;

}



.footer {
    position: relative;
    background-color: #2e3532;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 20px;


}
.footer_privacy {
    background-color: #2e3532;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.footer_logo {
    width: 20%;


}
.footer_contact {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
a {
    text-decoration: none;
    padding: 10px;
}
li, .footer_contact{
    list-style: none;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bold;
}
.footer_center {
    min-width:300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}
.footer_right {
    min-width:300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 34px 76px rgba(77, 55, 133, 0.3);
    padding: 0px;
    margin: 0px;
    width: 40%;
    min-height: 400px;
    margin-top: 10%;

}
figure img {
    min-width: 350px;
    width: 100%;
    height: 70%;
    padding: 0px;
    margin: 0px;

}
figcaption {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
}

.main h1, .main_aside h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: left;
}
main p, aside p{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
footer li, header h1, footer a, .footer_privacy p, footer h3{
    color: white;
}
header , footer {
    color: white;
}
header h2 {
    padding: 10px;
    font-size: 35px;
}
.toggler-bars{
    position:absolute;
    top: 15px;
    right:25px;
    cursor:pointer;
    display: none;


}
.bar {
    /* display: block; */
    width:25px;
    height: 3px ;
    margin: 2px auto;
    transition:all 0.3s ease-in-out;
    background-color: black;
}
@media screen and (min-width: 320px) and (max-width: 980px) {
    .navigation_list {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 15px;
        display: none;


    }
    .navigation_list a {
        margin: 20px;
    }
    .toggler-bars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .main_section1_video, .main_section2_video {
        display: grid;
        grid-template-columns: auto;
    }


}
.navigation_list.active {
    display: flex;

}
@media screen and (max-width: 980px) {

    .main_section1 {
      width: 100%;
     }
    .main_aside {
      width: 100%;
      margin: 0px;
     }
     figure {
        width: 100%;

     }
     /* main .main_section1{
        width: fit-content;
        border: 1px solid;
     }
     .footer {
        width: min-content;
     } */
     header {
        width: 100%;
     }
    td p {
        font-size: x-small;
        margin-right: 20px;
    }


  }
/* .main_section1 {
    border: 1px solid;

} */
.header_current, .navigation_list a:hover {
    background-color: aqua;


}


figure {
    width: fit-content;
    margin: auto;
}


/* * {
    border: 1px solid;
} */
:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #303545;
    --color-border: #ccc;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  /* typography */

  html {
    font-size: 62.5%;
  }

  body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--color-body);
    background-color: #f3f3f3;
  }

  .main a:hover {
    opacity: 1.9;
  }
  header h2 {
    color: #1b0760;
    font-size: 15px;
    font-weight: bolder;
  }