.header {
    background: url("../images/gonder2.jpg") no-repeat ;
    background-size: 100% 100%;
}
table {
    margin-top: 0px;
    max-width: 100%;
}
td {
    margin: 5px;
    border: 1px solid;
}
td p {
    max-width: 100%;
    margin-left: 20px;
}
thead {
    background-color: gold;


}
td {
    width: 100%;

}
 table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
 table img {
    width: 70px;
}
 table td:nth-child(1) {
    width: 100px;
    text-align: center;
}
 table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
 table td:nth-child(3) {
    width: 250px;
    text-align: center;
}
table td:nth-child(4),
 table td:nth-child(5){
    width: 150px;
    text-align: center;
}
table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;

}
 table thead td{
   font-weight: 700;
   text-transform: uppercase;
   font-size: 13px;
   padding: 18px 0;
   font-style: "Sacramento, carsiff";
}
 table tbody tr td {
   padding-top: 15px;
}
 table tbody td {
    font-size: 13px;
}