.header {
    background: url("../images/abay.jpg") no-repeat ;
    background-size: 100% 100%;
}
.main_section1_parks {
    display: flex;
    flex-direction: column;
    width: 100%;

}
figure {
    width: 80%;
    max-width: 80%;


}
figure img {
    width: 100%;
    min-width: 100%;
}


.main_aside {
  height: fit-content;
}
/* .main_section1 {
    border: 1px solid;
} */

