.header {
    background: url("../images/tour_operators.jpg") no-repeat ;
    background-size: 100% 100%;
}
.main {
    height: 500px;

}

.main .main_section1 p {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 4% auto;

}

.main .main_section1 h1 {
    margin: 3%;
}
 main a {
    color: red;
}

